/* Start Roots */
:root {
  /*(intro and email sign up background)*/
  --DarkBlueIntro: hsl(217, 28%, 15%);

  /*(main background)*/
  --DarkBlue: hsl(218, 28%, 13%);

  /*(footer background)*/
  --DarkBlueFooter: hsl(216, 53%, 9%);

  /*(testimonials background)*/
  --DarkBlueTesti: hsl(219, 30%, 18%);

  /* (inside call-to-action gradient) */
  --Cyan: hsl(176, 68%, 64%);

  /* (inside call-to-action gradient) */
  --Blue: hsl(198, 60%, 50%);

  /* (error) */
  --LightRed: hsl(0, 100%, 63%);

  --White: hsl(0, 0%, 100%);
}
/* End Roots */

/* Start Globals */
html {
  font-size: 100%;
  line-height: 1.3;
}
* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  max-width: 100%;
}

button {
  display: block;
  padding: 10px 0;
  background-color: var(--Cyan);
  color: var(--White);
  font-size: 20px;
  font-weight: 600;
  border: 0;
  border-radius: 24px;
  font-family: inherit;
  width: 100%;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
/* End Globals */

/* Start Media Qurise */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 760px;
  }
}

@media (min-width: 922px) and (max-width: 1199px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Media Qurise */

/* Start Header */
.header {
  position: relative;
  padding: 15px 0;
  background-color: var(--DarkBlue);
  z-index: 3;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav a.logo {
  width: 100px;
  overflow: hidden;
}
.header .nav a.logo img {
  width: 100%;
}
.header .nav ul.main-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav ul.main-list li a.item {
  font-size: 14px;
  padding: 0 10px;
  color: var(--White);
  transition: 300ms;
  position: relative;
}
.header .nav ul.main-list li a.item:hover::after {
  width: 100%;
}
.header .nav ul.main-list li a.item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 3px;
  background-color: var(--White);
  transition: 300ms;
}
/* End Header */

/* Start Hero */
.hero {
  position: relative;
  text-align: center;
  height: calc(100vh - 62.95px);
  background-color: var(--DarkBlueIntro);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .curvy-intro-img {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (min-width: 922px) {
  .hero .image {
    width: 100%;
    margin-top: 150px;
  }
}
.hero .curvy-intro-img img {
  height: 89%;
  width: 100vw;
  object-fit: cover;
}
.hero .content {
  margin-top: 20px;
  z-index: 3;
}
.hero .content h1 {
  color: var(--White);
  font-size: 29px;
}
.hero .content p {
  color: var(--White);
  font-size: 17px;
  line-height: 1.6;
}
/* End Hero */

/* Start Features */
.features {
  position: relative;
  z-index: 3;
  text-align: center;
  background-color: var(--DarkBlue);
  padding: 25px 0;
}
.features .features-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 922px) {
  .features .features-content {
    flex-direction: row;
  }
}
.features .features-content .feature {
  padding: 7px;
  width: 100%;
}
.features .features-content .feature:not(:last-child) {
  margin-bottom: 30px;
}
.features .features-content .feature h1 {
  color: var(--White);
  font-size: 25px;
  margin: 15px 0;
}
.features .features-content .feature p {
  color: var(--White);
  line-height: 1.6;
  font-size: 17px;
}
/* End Features */

/* Start Productive */
.productive {
  position: relative;
  z-index: 3;
  background-color: var(--DarkBlue);
  padding: 25px 0;
}
.productive .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productive .content {
  margin-top: 15px;
  color: var(--White);
}
@media (min-width: 922px) {
  .productive .content {
    margin-left: 25px;
  }
}
.productive .content p {
  line-height: 1.6;
  font-size: 17px;
}
.productive .content .link {
  border-bottom: 1px solid var(--Cyan);
  width: 200px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productive .content .link a {
  display: inline-block;
  margin-right: 5px;
  color: var(--Cyan);
  font-size: 15px;
}
.productive .content .link img {
  width: 30px;
}
/* End Productive */

/* Start Testimonials */
.testimonials {
  position: relative;
  z-index: 3;
  background-color: var(--DarkBlue);
  padding: 25px 0;
}
.testimonials .testimonials-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  position: relative;
}
.testimonials .testimonials-content img.quotes {
  width: 30px;
  position: absolute;
  left: 10px;
  bottom: 100%;
}
.testimonials .testimonials-content .testimonial-box {
  padding: 10px;
  width: 100%;
  background: var(--DarkBlueTesti);
  border-radius: 10px;
}
.testimonials .testimonials-content .testimonial-box p {
  color: var(--White);
  line-height: 1.6;
  font-size: 18px;
  width: 100%;
}
.testimonials .testimonials-content .testimonial-box .user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.testimonials .testimonials-content .testimonial-box .user .avatar img {
  width: 90px;
  border-radius: 50%;
  margin-right: 18px;
}
.testimonials .testimonials-content .testimonial-box .details {
  color: var(--White);
}
/* End Testimonials */

/* Start Get Started */
.started {
  position: relative;
  z-index: 3;
  background-color: var(--DarkBlue);
  padding: 25px 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.started .box {
  padding: 30px 15px;
  background-color: var(--DarkBlueTesti);
  border-radius: 10px;
  color: var(--White);
}
@media (min-width: 922px) {
  .started .box {
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
}
@media (min-width: 922px) {
  .started .box .details {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 922px) {
  .started .box .form {
    display: flex;
    align-content: space-between;
    gap: 15px;
  }
}
.started .box input[type="text"] {
  display: block;
  background-color: var(--White);
  border-radius: 24px;
  border: 0;
  padding: 15px 0 15px 10px;
  color: var(--DarkBlue);
  width: 100%;
  font-size: 18px;
  font-family: inherit;
  margin-bottom: 15px;
}
@media (min-width: 922px) {
  .started .box input[type="text"] {
    margin-top: 30px;
  }
}
.started .box input[type="text"]:focus {
  outline: none;
}
.started .box input[type="text"]::placeholder {
  font-family: inherit;
}
@media (min-width: 922px) {
  .started .box button {
    width: 35%;
    margin-top: 30px;
  }
}
.started .box .error {
  display: block;
  visibility: hidden;
  color: var(--LightRed);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  text-align: left;
}
.started .box .error.there-is {
  visibility: visible;
}
/* End Get Started */

/* Start Footer */
.footer {
  position: relative;
  z-index: 1;
  background-color: var(--DarkBlue);
  padding: 25px 0;
}
@media (min-width: 992px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
}
.footer .contact .section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}
.footer .contact .section .icon {
  margin-right: 15px;
  margin-top: 7px;
}
.footer .contact .section .icon img {
  width: 100%;
}
.footer .contact .section .text {
  width: 100%;
}
.footer .contact .section .text p {
  color: var(--White);
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}
.footer .footer-list {
  margin-top: 15px;
  color: white;
}
@media (min-width: 992px) {
  .footer .footer-list {
    flex: 1;
  }
}
.footer .footer-list li {
  margin: 10px 0;
}
.footer .footer-list.num-2 {
  margin-top: 20px;
}
.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 20px auto 0;
}
.footer .social div {
  margin: 0 20px;
}
.footer .social i {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: var(--White);
  border-radius: 50%;
  border: 2px solid var(--White);
}
/* End Footer */